.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}
body nav
{
    width: 100%
}
body {
  background-image: url(images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
#mytextbox {
    min-height: 100%;
    height: auto !important;
    width: 90%;
    height: 100%;
}
table th
{
    color: rgb(255, 81, 0);
}
table td
{
    text-align: center;
}
#msgalign
{
    text-align: left;
}
@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}