{% extends "layout.html" %}

{% block title %}
	Messages
{% endblock %}

{% block main %}
	<div align="center">
		<table class="table table-hover" align="center">
			<tr>
				<th style="text-align:center">Username</th>
				<th style="text-align:center">Name</th>
				<th style="text-align:center">Role</th>
				<th>Message</th>
				<th style="text-align:center">Timestamp</th>
			</tr>
			{% for i in range((msgs)|length) %}
				<tr>
					<td>{{msgs[i][0]}}</td>
					<td>{{msgs[i][1]}}</td>
					<td>{{msgs[i][2]}}</td>
					<td id="msgalign">{{msgs[i][3]}}</td>
					<td>{{msgs[i][4]}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}