{% extends "layout.html" %}

{% block title %}
	Messages
{% endblock %}

{% block main %}
	<div class="table-responsive" align="center">
		<table class="table table-responsive table-hover" align="center">
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>Role</th>
				<th>Message</th>
				<th>Timestamp</th>
			</tr>
			{% for i in range((msgs)|length) %}
				<tr>
					<td>{{msgs[i][0]}}</td>
					<td>{{msgs[i][1]}}</td>
					<td>{{msgs[i][2]}}</td>
					<td>{{msgs[i][3]}}</td>
					<td>{{msgs[i][4]}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

