{% extends "layout.html" %}

{% block title %}
    Write
{% endblock %}

{% block main %}
    <form action="{{ url_for('write') }}" method="post">
        <fieldset>
            <div class="form-group">
                <textarea autocomplete="off" autofocus class="form-control" id="mytextbox" name="msg" placeholder="Your Message" type="text" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Broadcast</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
